.ads-container {
    max-width: 330px;
    width: 100%;
    height: 146px;
    background-color: #fff;
    border-radius: 12px;
    padding: 12px;
}

.ads-filters {
    max-width: 232px;
    width: 100%;
    height: 232px;
    margin-bottom: 15px;
    border-radius: 8px;
}

.ads-promo {
    max-width: 318px;
    width: 318px;
    height: 328px;
    vertical-align: top;
    background-color: #fff;
    border-radius: 12px;
    padding: 10px;
}

.ads-top {
    width: 100%;
    height: 90px;
    margin-top: -90px;
    margin-bottom: 90px;
    background-color: #fff;
}

.ads-direct {
    width: calc(100% - 40px);
    height: 130px;
    margin: -20px auto 0 auto;
    background-color: #fff;
    padding: 15px;
    border-radius: 25px;
}

.ads-center {
    width: 100%;
    max-width: 940px;
    height: 100%;
    margin: 0 auto;
}

.advblock {
    width: 100%;
}

@media (max-width: 980px) {
    .ads-top {
        height: 65px;
        margin-top: -65px;
        margin-bottom: 65px;
    }

    .ads-direct {
        height: 95px;
    }
    
    .ads-promo {
        width: 100%;
        max-width: initial;
        margin: 0 0 20px 0;
    }
}

@media (max-width: 768px) {
    .ads-container {
        max-width: initial;
    }
}
